.form-input {
  background-color: $background-color;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 15px;
  &-item {
      margin: 0 auto;
  }
}
#form-input-location {
  width: 50%;
  height: $form-item-height;
}
#form-input-degree {
  height: $form-item-height;

}

#submit {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 5px;
  height: $form-item-height;
  border-radius: 40%;
  &:hover {
    background-color: $secondary-color;
  }
}
